mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.login {
  width: 100%;
  min-width: 27vw;
  height: 100%;

  .p-lg-12 {
    padding: 0.5rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-login {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;


    h1 {
      margin: 0px;
      font-size: 22px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: 0.6px;
    }

    h3 {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      margin-top: 20px;
    }

    .form-login {
      width: 100%;
      margin-top:20px;

      .recover-password {
        font-size: 14px;
        margin-left: 10px;
        border-bottom: 1px solid #777777;
        color: #777777;
        text-align: center;
      }

    }


  }
}



