@media (min-width: 769px) {
  .login {
    width: 100%;
    height: 92%;
    background-color: #f1f2f3;

    .card-login {
      width: 450px;
      height: 450px;
      border: solid 1px #777777;
      background-color: white;

      h1 {
        font-size: 30px;
        color: #777777;
      }

      .form-login {
        width: 100%;
      }
    }
  }
}

@media (max-width: 375px) {
  .login {
    width: 100%;
    height: 94%;
    background-color: #f1f2f3;

    .card-login {
      width: 100%;
      height: 450px;
      border: solid 1px #777777;
      background-color: white;

      p {
        width: 95%;
        text-align: center;
      }

      h1 {
        font-size: 30px;
        color: #777777;
      }

      .form-login {
        width: 375px;
      }

      .mat-form-field {
        width: 95%;
      }
    }
  }
}
