<div class="platform" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="space-around center">
    <div class="info-platform" fxLayout="column" fxLayoutAlign="center center">
        <h1>{{'landing-page.platform.platform' | translate}}</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="start start">
            <div class="Rectangle-Copy-3">
                <div class="Rectangle-Copy-12"></div>
                <div class="Oval-Copy-3"></div>
            </div>
            <h2>
                {{'landing-page.platform.text' | translate}}
            </h2>
        </div>
    </div>
    <div class="info-platform-2" fxLayout="column"   fxLayoutAlign="center center">
        <h1>{{'landing-page.platform.about-courses' | translate}}</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="start start">
            <div class="Rectangle-Copy-3">
                <div class="Rectangle-Copy-12"></div>
                <div class="Oval-Copy-3"></div>
            </div>
            <h2>
                {{'landing-page.platform.text2' | translate}}
            </h2>
        </div>
    </div>
    <div class="info-platform-2" fxLayout="column"  fxLayoutAlign="center center">
        <h1>{{'landing-page.platform.target-audience' | translate}}</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="start start" style="height: 400px;">
            <div class="Rectangle-Copy-3">
                <div class="Rectangle-Copy-12"></div>
                <div class="Oval-Copy-3"></div>
            </div>
            <h2>
                {{'landing-page.platform.text3' | translate}}
            </h2>
        </div>
    </div>
</div>
<div class="platform-access" fxLayout="row" fxLayoutAlign="center center">
    <button class="button-radius-white" routerLink="login">{{'landing-page.info-software.access-now' | translate}}</button>
    <button class="button-radius-white" routerLink="login">{{'landing-page.info-software.know-more' | translate}}</button>   
</div>
