<div class="platform" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="space-around center">
    <div class="spacingY-21 display-none-sm"></div>

    <!--PLATAFORMA EAD-->
    <div class="p-lg-10 p-md-11 p-col-11 p-p-0" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" >
        <div class="p-lg-4 p-md-4 p-p-0" fxLayoutAlign="center" fxLayoutAlign.sm="start">
            <div class="img-platform-ead"></div>
        </div>
        <div class="p-lg-6 p-md-8 p-p-0">
            <div class="h1-section">{{'landing-page.platform.platform' | translate | uppercase}}</div>
            <div class="p-lg-11 body-section p-mt-5 p-p-0">{{'landing-page.platform.text' | translate}}</div>
            <div class="p-lg-11 body-section p-mt-5 p-p-0">{{'landing-page.platform.text2' | translate}}</div>
        </div>
    </div>
    <div class="spacingY-16 display-none-sm"></div>

    <!--SOBRE OS CURSOS-->
    <div class="p-lg-10 p-md-11 p-col-11 p-p-0" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" >
        <div class="p-lg-4 p-md-4 p-p-0" fxLayoutAlign="center">
            <div class="img-platform-courses"></div>
        </div>
        <div class="p-lg-6 p-md-8 p-p-0">
            <div class="h1-section">{{'landing-page.platform.about-courses' | translate | uppercase}}</div>
            <div class="p-lg-11 body-section p-mt-5 p-p-0">{{'landing-page.platform.text3' | translate}}</div>
        </div>
    </div>
    <div class="spacingY-16 display-none-sm"></div>

    <!--PUBLICO ALVO-->
    <div class="p-lg-10 p-md-11 p-col-11 p-p-0" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" >
        <div class="p-lg-4 p-md-4 p-p-0" fxLayoutAlign="center">
            <div class="img-platform-public"></div>
        </div>
        <div class="p-lg-6 p-md-8 p-p-0">
            <div class="h1-section">{{'landing-page.platform.target-audience' | translate | uppercase}}</div>
            <div class="p-lg-11 body-section p-mt-5 p-p-0">{{'landing-page.platform.text4' | translate}}</div>
        </div>
    </div>

    <div class="p-m-sm-3" fxLayout="row" fxLayoutAlign="center center">
        <button class="button-md" mat-stroked-button color="accent">{{'buttons.know-more' | translate | uppercase}}</button>
        <button class="button-md p-m-4" mat-flat-button routerLink="login" color="accent">{{'landing-page.info-software.access-now' | translate | uppercase}}</button>
    </div>

</div>
