
<!-- COMPONENTE PRINCIPAL DA LANDING PAGE -->
<section id="main" name="main">
    <app-main></app-main>
</section>
<section id="news" name="news">
    <app-news></app-news>
</section>
<section id="know-more" name="know-more">
    <app-know-more></app-know-more>
</section>
<section id="images-mosaics" name="images-mosaics">
    <app-images-mosaics></app-images-mosaics>
</section>
<section id="dashboard" name="dashboard">
    <app-info-dashboard></app-info-dashboard>
</section>
<section id="platform-ead" name="platform-ead">
    <app-platform></app-platform>
</section>
<section id="common-questions" name="common-questions">
    <app-common-questions></app-common-questions>
</section>
<section id="faq" name="faq">
    <app-faq></app-faq>
</section>
<footer id="footer" name="footer">
    <app-footer></app-footer>
</footer>
<!-- <section id="results" name="results">
    <app-results></app-results>
</section>

<section id="images-mosaics" name="images-mosaics">
    <app-images-mosaics></app-images-mosaics>
</section>
<section id="images-mosaics" name="images-mosaics">
    <app-who-can-access></app-who-can-access>
</section>
<section id="images-mosaics" name="images-mosaics">
    <app-info-dashboard></app-info-dashboard>
</section>
<section id="platform-ead" name="platform-ead">
    <app-platform></app-platform>
</section>
<section id="common-questions" name="common-questions">
    <app-common-questions></app-common-questions>
</section>
<section id="faq" name="faq">
    <app-faq></app-faq>
</section>
<footer id="footer" name="footer">
    <app-footer></app-footer>
</footer>
 -->
