<!-- COMPONENTE PRINCIPAL DA LANDING PAGE -->
<section id="main" name="main">
    <app-main></app-main>
</section>
<section id="info-sotware" name="info-sotware">
    <app-info-software></app-info-software>
</section>
<section id="know-more" name="know-more">
    <app-know-more></app-know-more>
</section>
<section id="results" name="results">
    <app-results></app-results>
</section>
<section id="news" name="news">
    <app-news></app-news>
</section>
<section id="images-mosaics" name="images-mosaics">
    <app-images-mosaics></app-images-mosaics>
</section>
