
<div class="news p-p-0" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="p-col-10" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="h1-section p-mt-6 p-mt-md-6 p-mb-md-5 p-col-2 p-md-5">{{'landing-page.info-news.news' | translate | uppercase}}</div>
        <div class="a-link p-mt-6 p-mt-md-6 p-mb-md-5 p-jc-end p-p-0">{{'landing-page.info-news.indicate-content' | translate }}</div>
    </div>

    <p-carousel styleClass="p-mb-6" [value]="products" [numVisible]="1" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item" >
            <div class="product-item p-p-0" fxLayout="row" fxLayoutAlign="center center">
                <div class="product-item-content p-p-0 p-col-12 p-md-12" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between start">
                    <div class="product-image p-col-6 p-p-0">
                        <img class="display-none-md display-none-sm" src="../../../assets/imgs/Bitmap-2.png" width="592" height="333" alt="">
                        <img class="display-none-lg display-none-sm" src="../../../assets/imgs/Bitmap-2.png" width="768" height="432" alt="">
                        <!-- <img src="../../../assets/imgs/Bitmap-2.png" width="592" height="333" alt=""> -->
                    </div>
                    <div class="p-col-6 p-md-12 p-p-0 p-ml-4" fxLayout="column" fxLayoutAlign="start start">
                        <div class="h1-news p-col-9 p-md-10 p-lg-5 p-p-0" style="line-height: 1.22; text-align: left;" fxLayoutAlign="start start">Operação da PF faz a maior apreensão de madeira da história</div>
                        <div class="body-section p-col-8 p-p-0 p-lg-4 p-mt-4" style="line-height: 1.56; text-align: left;">Batizada de Handroanthus GLO, ação reteve 131,1 mil metros cúbicos de toras extraídas no oeste do Pará</div>
                        <div class="p-lg-6 p-md-11 p-mt-lg-6 p-pt-5" fxLayout="row" fxLayoutAlign="end end">
                            <button class="button-md" mat-flat-button color="accent">+ NOTÍCIAS</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

</div>
