<div class="info-dashboard" fxLayout="column" >
    <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign.sm="space-between" fxLayoutAlign.xs="space-between">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
            <div class="div-left p-order-lg-1 p-order-md-2 p-order-2 p-lg-6 p-md-12 white-color p-p-0" fxLayout="column" fxLayoutAlign.sm="end end" fxLayoutAlign="end start">
                <div class="p-lg-12 img-macbook p-p-0 p-mt-md-6 p-mt-3"></div>
                <div class="p-lg-12 p-md-12 p-p-0" fxLayout="row">
                    <div class="p-lg-4 display-none-md"></div>
                    <div class="p-lg-8 list-section white-color p-ml-lg-0 p-ml-md-6 p-mb-lg-6">
                        <div>{{'landing-page.dashboard.class-alerts' | translate | uppercase}}</div> 
                        <div class="p-mt-4">{{'landing-page.dashboard.all' | translate}}</div>
                        <div>{{'landing-page.dashboard.all' | translate}}</div>
                        <div>{{'landing-page.dashboard.burn-scar' | translate}}</div>
                        <div>{{'landing-page.dashboard.deforestation-access' | translate}}</div>
                        <div>{{'landing-page.dashboard.deforestation-cut-small' | translate}}</div>
                        <div>{{'landing-page.dashboard.deforestation-degradation' | translate}}</div>
                        <div>{{'landing-page.dashboard.deforestation-selective-cut' | translate}}</div>
                        <div>{{'landing-page.dashboard.deforestation-extraction' | translate}}</div>
                        <div>{{'landing-page.dashboard.vessels' | translate}}</div>
                        <div>{{'landing-page.dashboard.burn-focus' | translate}}</div>
                        <div>{{'landing-page.dashboard.airstrip' | translate}}</div>

                        <div class="p-mt-4">{{'landing-page.dashboard.data-in-graphics' | translate | uppercase}}</div>
                        <div class="p-mt-4">{{'landing-page.dashboard.burns' | translate }}</div>
                        <div >{{'landing-page.dashboard.deforastation' | translate }}</div>
                        <div >{{'landing-page.dashboard.illicit-crops' | translate }}</div>
                        <div >{{'landing-page.dashboard.illegal-vessels' | translate }}</div>
                        <div >{{'landing-page.dashboard.clandestine-landing' | translate }}</div>

                    </div>
                </div>

            </div>
            <div class="p-order-lg-2 p-order-md-1 p-order-1 p-lg-6 p-md-11 p-col-11 white-color p-p-0" fxLayout="column" fxLayoutAlign="space-between start">
                <div fxLayout="column">
                    <div class="spacingY-21 display-none-md display-none-sm"></div>
                    <div class="spacingY-14 display-none-lg"></div>
                    <div class="h1-section p-lg-7 white-color p-md-9">{{'landing-page.dashboard.title' | translate | uppercase}}</div>
                    <div class="spacingY-11"></div>
                    <div class="body-section white-color p-md-10 p-lg-11 ">{{'landing-page.dashboard.text' | translate }}</div>
                    <div class="body-section white-color p-md-10 p-lg-11 ">{{'landing-page.dashboard.text2' | translate }}</div>
                </div>

                <!--IMG IPHONE DESKTOP-->
                <div class="display-none-md display-none-sm" fxLayout="row">
                    <div class="h2-section white-color p-lg-4">
                        {{'landing-page.dashboard.disponible' | translate }}
                    </div>
                    <div class="img-iphone"></div>
                </div>
            </div>
        </div>
        
        <!--IMG IPHONE TABLET/MOBILE-->
        <div class="display-none-lg" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign.xs="start center">
            <div class="p-order-2 p-order-md-1 img-iphone"></div>
            <div class="p-order-1 p-order-md-2 text-disponible  h2-section white-color p-md-4 p-col-9 p-ml-md-6 p-p-0 p-mt-5 p-mb-5">
                {{'landing-page.dashboard.disponible' | translate }}
            </div>
        </div>

        <div fxLayoutAlign="center center" style="position: relative; bottom: 100px;">
            <button class="button-md" mat-button color="accent">{{'buttons.know-more' | translate | uppercase}}</button>
            <button class="button-md p-ml-lg-6 p-ml-md-3 p-ml-3" mat-flat-button color="accent">{{'buttons.access-now' | translate | uppercase}}</button>
        </div>

    </div>
</div>