$white: white;
$primary: #000000;
$secondary: #ffd079;
/* DESKTOP */
@media (min-width: 769px) {

  .main { 
      width: 100%;
      height: 900px;
      background-image: url("../imgs/Bitmap-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 900px;
    }
    
    .title {
      font-size: 28px;
      font-weight: 600; color: $primary;
    }

    .login {
      width: 100%;
      height: 92%;
      background-color: #f1f2f3;

      .card-login {
        width: 450px;
        height: 450px;
        border: solid 1px #777777;
        background-color: white;

        h1 {
          font-size: 30px;
          color: #777777;
        }

        .form-login {
          width: 100%;
        }
      }
    }
  
    .spacer {
      flex: 1 1 auto;
    }
  
    .ml-5 {
      margin-left: 75px;
    }
      
    .text-primary {
      font-size: 40px;
      margin-bottom: 25px;
    }
    
    .text-secondary {
      font-size: 20px;
      color: #777777;
      margin-bottom: 10px;
    }
  
    .legenda {
      height: 150px;
      padding: 20px;
    }
    
    .text-legenda {
      background-color: rgba(0,0,0,0.4);
      padding: 10px;
      font-size: 14px;
    }
  
    .info-principal {
      margin-top: 150px;

      .banner {
        height: 250px;
      }

    }
  
    .info-software {
      height: 200px;
      background-color: rgba(0,0,0,0.6);
    }
  
    .login-access {
      margin-left: 50px;
    }
    
    .img-logo {
      background-color: #f1f2f3;
      border-radius: 50%;
      border: 1px solid #777777;
      width: 70px;
      height: 70px;
    }
  
    .know-more {
      background-color: #f1f2f3;
      border: solid 1px #777777;
      padding: 40px;
      p {
        font-size: 25px;
        width: 50%;
        text-align: center;
        line-height: 40px;
        color: #777777;
      }
    }
  
    .results {
      position: relative;
      padding-top: 50px;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      
      h1 {
        font-size: 28px;
        text-align: center;
        color: #777777;
      }
  
      .carousel-item {
        padding: 30px;
        color: #777777;
          .carousel-item-content {
            text-align: center;
            padding: 2rem 0;        
          }
      }
    }
  
    .news {
      height: 800px;
      border: 1px solid #777777;
      color: #777777;
  
      h1 {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 26px;
      }
  
      h2 {
        font-size: 22px;
        color: #777777;
      }
  
      .custom-carousel{
        width: 80%;
      }
  
      .news-image {
        height: 250px; 
        width: 100%; 
        padding: 30px; 
        background-color: #f1f2f3;
        border: 1px solid #777777;
      }
  
      .conteudo {
        font-size: 20px;
        color: #777777;
        border: 1px solid #777777;
        height: 300px; 
        padding: 10px
      }
  
      .p-carousel .p-carousel-indicators {
        display: none;
      }
  
      .pi {
        font-size: 3rem;
      }
  
      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 4rem;
        height: 4rem;
        border: 1px solid #777777;
      }
  
      button {
        width: 160px;
        height: 40px;
        border-radius: 29.5px;
        border: solid 1px #777777;
        background-color: #f1f2f3;
      }
  
      .text-login {
        width: 160px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: solid 1px #777777;
        cursor: pointer;
      }
  
      .info-access {
        margin: 20px 0 20px 0;
      }
    }
  
    .images-mosaics {
      position: relative;
      color: #777777;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      border-bottom: 1px solid #777777;
      padding: 50px;
  
      p {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
      }
  
      h1 {
        font-size: 28px;
        margin-bottom: 20px;
      }
  
      .panel {
        height: 368px;
        width: 100%;
        border: 1px solid #777777;
        background-color: #f1f2f3;
      }
  
      .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
        width: 160px;
      }
  
      .spliter {
        position: relative;
        width: 550px;
        height: 400px;
        margin-top: 35px;
        background-color: #f1f2f3;
        border-color: #777777;
      }
  
      .title {
        font-size: 28px;
      }
    }
  
    .can-access {
      border: 1px solid #777777;
      position: relative;
      color:  #777777;
  
      
      .info-can-access {
        height: 100px;
      }
  
      h2 {
        font-size: 20px;
        padding: 20px;
  
      }
  
      h1 {
        font-size: 24px;
        margin-top: 40px;
  
      }
  
      p {
        font-size: 18px;
        padding: 20px;
        width: 60%;
      }
  
      .can-access-open {
        margin-bottom: 20px;
      }
    
    }
  
    .info-dashboard {
      height: 1200px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
      color: #777777;
  
      h1 {
        font-size: 30px !important;
        margin-top: 30px !important;
      }

      .div-left {
        height: 1100px;
        width: 50%;
        margin: 20px;
  
        p {
          font-size: 14px;
          line-height: 5px;
        }
      }
      
      .div-right {
        height: 800px;
        width: 50%;
        margin: 20px;
      }
  
      p{
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 1px;
        width: 80%;
      }
  
      .text-min {
        width: 250px;
      }
  
      .text-min-mobile {
        display: none;
      }
  
    }

    .platform {
      border: 1px solid #777777;
      width: 100%;
      position: relative;

      .info-platform {
        width: 70%;
      }

      .info-platform-2 {
        width: 70%;
        height: 400px;
      }

      h1 {
        font-size: 30px !important;
        color: #777777;
        margin-top: 40px !important;
      }

      h2 {
        font-size: 20px !important;
        color: #777777;
        margin-left: 20px !important;
        width: 600px;
        margin-top: 30px !important;
      }

      .Rectangle-Copy-3 {
        width: 263px;
        height: 272px;
        margin: 58px 6px 151px 84px;
        padding: 62px 60px 66px;
        border: solid 1px #777777;
      }

      .Rectangle-Copy-12 {
        width: 96px;
        height: 96px;
        margin: 0 47px 48px 0;
        border: solid 1px #777777;
      }

      .Oval-Copy-3 {
        width: 96px;
        height: 96px;
        margin: -96px 0 0 47px;
        border-radius: 50%;
        border: solid 1px #777777;
      }
    }

    .platform-access {
      height: 100px;
      background-color: #f1f2f3;
    }

    .common-questions {
      position: relative;
      width: 100%;
      border: 1px solid #777777;

      .accordion {
        width: 70%;
        padding: 8px;
      }
    }

    .faq {
      width: 100%;

      h1 {
        font-size: 30px !important;
        color: #777777;
        margin-top: 20px !important;
        text-align: center;
      }

      .container {
        width: 60%;
      }
    }

    .input-50 {
      width: 50%;
      padding: 10px;
    }

    .input-100 {
      width: 100%;
      padding: 10px;
    }

    .info-news {
      color: #777777;
      .info-news-main {
        height: 600px;
        width: 100%;
        background-color: #f1f2f3;
        border: 1px solid #777777;
      }

      .text-news {
        width: 60%;
        height: 200px;
      }

      .title-news {
        font-size: 30px;
        line-height: 30px;
        width: 670px;
      }

      .title-news-container {
        font-size: 30px;
        line-height: 30px;
        margin-top: 20px;
        width: 70%;
      }

      .title-news-container-item {
        font-size: 26px;
        line-height: 30px;
        width: 70%;
        padding: 10px 0;
      }

      .description-news {
        font-size: 16px;
        width: 300px;
      }

      .description-news-origin {
        font-size: 10px;
        width: 60%;
      }

      .description-news-container {
        font-size: 16px;
        width: 60%;
        padding: 10px 0;
      }

      .info-news-container {
        width: 70%;
        border-bottom: 1px solid #777777;
        margin-bottom: 20px;
        padding: 20px;
      }

      .img-news {
        width: 160px;
        height: 160px;
        border: solid 1px #777777;
        background-color: #f1f2f3;
      }

      .info-news-description {
        width: 90%;
      }

      .info-news-faq {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .footer {
      height: 100px;
      background-color: #f1f2f3;
      border: 1px solid #777777;

      h1 {
        font-size: 36px;
        margin: 0px !important;
      }
    }

    .request-access {
      width: 100%;
      height: 93%;
      border: 1px solid #777777;

      .container {
        width: 100%;
      }
    }

    .more-info {
      cursor: pointer;
    }

    /* TYPOGRAPHY */
    .kicker-featured{font-size: 32px;font-weight: 600; color: $primary;}
    .h1-featured{font-size: 80px;font-weight: bold; color: $primary; line-height: 80px;}
    .h2-featured{font-size: 28px;font-weight: 600; color: $primary;}
    .h3-featured{font-size: 22px;font-weight: 500; color: $primary;}
    .h4-featured{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-featured{font-size: 14px;font-weight: 500; color: $primary;}
    .h1-section{font-size: 28px;font-weight: bold; color: $primary;}
    .h2-section{font-size: 22px;font-weight: 600; color: $primary;}
    .body-section{font-size: 18px;font-weight: 400; color: $primary;}
    .list-section{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-section{font-size: 22px;font-weight: 600; color: $primary;}
    .numbers{font-size: 140px;font-weight: 600; color: $primary; line-height: 140px;}
    .h1-news{font-size: 36px;font-weight: 600; color: $primary;}
    .a-link{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary; cursor: pointer;}
    .a-link:hover{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}
    /* END TYPOGRAPHY*/

    .kicker-featured-mb{font-size: 24px;font-weight: 600;color: $primary;}
    .h1-featured-mb{font-size: 48px;font-weight: bold;line-height: 48px;color: $primary;}
    .h2-featured-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .h3-featured-mb{font-size: 16px;font-weight: 600;color: $primary;}
    .h4-featured-mb{font-size: 12px;font-weight: 500;color: $primary;}
    .caption-featured-mb{font-size: 12px;font-weight: 500;color: $primary;}
    .h1-section-mb{font-size: 20px;font-weight: bold;color: $primary;}
    .h2-section-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .body-section-mb{font-size: 16px;font-weight: 500;color: $primary;}
    .list-section-mb{font-size: 14px;font-weight: 500;color: $primary;}
    .caption-section-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .numbers-mb{font-size: 120px;font-weight: 600; line-height: 120px;color: $primary;}
    .h1-news-mb{font-size: 22px;font-weight: 600;color: $primary;}
    .a-link-mb{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary; cursor: pointer;}
    .a-link-mb:hover{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}

    .paginator-example {
      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
          display: none;
      }
    }

    .black-container {
      background: #333333;
    }
    /* END DESKTOP*/
  }
  