$white: white;
$primary: #000000;
$secondary: #ffd079;

@media (min-width: 376px) and (max-width: 768px){
    .main { 
        width: 100%;
        height: 1096px;
        background-image: url("../imgs/Bitmap-1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .info-principal {
        margin-top: 250px;

        .banner {
            height: 250px;
        }

    }

    .info-software {
        height: 200px;
        background-color: rgba(0,0,0,0.6);
    }

    .news {
        height: 950px;
        width: 768px;
        font-size: 20px;
        padding: 10px;
        
        .pi {
            display: none;
        }
        
        .product-item {
            width: 768px;
            .product-item-content {
                width: 768px;
            }

        }
  
        .p-carousel, .p-carousel-content {
          width: 768px;
        }

        .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
            display: none;
        }

        .img-carousel {
          height: 333px;
          width: 550px;
          background-image: url("../imgs/Bitmap-2.png");
          background-size: 550px 333px;
        }
    
    }

    .know-more {
        width: 100%;
        height: 996px;
        background-image: url("../imgs/Bitmap-3.png");
        background-repeat: no-repeat;
        background-size: 100% 1173px;
  
        .container {
          background-color: rgba(0,0,0,0.6);
          width: 100%;
          height: 996px;
          padding: 40px;
        }
  
        .product-item {
          .product-item-content {
              width: 100%;
              border-radius: 3px;
              margin: .3rem;
              text-align: center;
              padding: 2rem 0;
          }
      
          .product-image {
              width: 100%;
              height: auto;
            }
          }
  
          .p-carousel, .p-carousel-content {
            width: 500px;
          }
      }

    /* TYPOGRAPHY */
    .kicker-featured{font-size: 32px;font-weight: 600; color: $primary;}
    .h1-featured{font-size: 80px;font-weight: bold; color: $primary; line-height: 80px;}
    .h2-featured{font-size: 28px;font-weight: 600; color: $primary;}
    .h3-featured{font-size: 22px;font-weight: 500; color: $primary;}
    .h4-featured{font-size: 12px;font-weight: 500; color: $primary;}
    .caption-featured{font-size: 14px;font-weight: 500; color: $primary;}
    .h1-section{font-size: 28px;font-weight: bold; color: $primary;}
    .h2-section{font-size: 22px;font-weight: 600; color: $primary;}
    .body-section{font-size: 18px;font-weight: 400; color: $primary;}
    .list-section{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-section{font-size: 22px;font-weight: 600; color: $primary;}
    .numbers{font-size: 140px;font-weight: 600; color: $primary; line-height: 140px;}
    .h1-news{font-size: 36px;font-weight: 600; color: $primary;}
    .a-link{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary; cursor: pointer;}
    .a-link:hover{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}
    /* END TYPOGRAPHY*/

        
    .text-legenda {
        background-color: rgba(0,0,0,0.4);
        padding: 10px;
        font-size: 14px;
    }

    .display-none-md {
        display: none !important;
    }

    .icon-satelite {
        width: 84px;
        height: 72px;
        background-image: url("../imgs/icons/icon-nav-satelite.png");
        background-size: 84px 72px;
        background-repeat: no-repeat;
    }

    .icon-dashboard {
        width: 49px;
        height: 72px;
        background-image: url("../imgs/icons/icon-nav-dashboard.png");
        background-size: 49px 72px;
        background-repeat: no-repeat;
    }

    .icon-ead {
        width: 50px;
        height: 72px;
        background-image: url("../imgs/icons/icon-nav-ead.png");
        background-size: 50px 72px;
        background-repeat: no-repeat;
    }

    .logo-justica {
        width: 179px;
        height: 56px;
        margin-top: 20px;
        background-image: url("../imgs/logos/logo-justica.png");
        background-size: 179px 56px;
        background-repeat: no-repeat;
    }

    .logo-pf {
        width: 74px;
        height: 90px;
        background-image: url("../imgs/logos/pf.png");
        background-size: 74px 90px;
        background-repeat: no-repeat;
    }

    .logo-senasp {
        width: 220px;
        height: 38px;
        margin-top: 25px;
        background-image: url("../imgs/logos/logo-senasp.png");
        background-size: 220px 38px;
        background-repeat: no-repeat;
    }

    .navbar-dash {
        height: 100px;
    }
}

@media (min-width: 900px) and (max-width: 1024px){
    .news {
        height: 700px;
        font-size: 20px;
        padding: 10px;
        
        .product-item {
            width: 900px;
            .product-item-content {
                width: 768px;
            }
        
        }
  
        .p-carousel, .p-carousel-content {
          width: 900px;
        }
     
      }  

      .know-more {
  
        .p-carousel, .p-carousel-content {
          width: 900px;
        }
      }
}