$white: white;
$primary: #000000;
$secondary: #ffd079;

@media (min-width: 376px) and (max-width: 768px){
    .main { 
        width: 100%;
        height: 1096px;
        background-image: url("../imgs/Bitmap-1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .info-principal {
        margin-top: 250px;

        .banner {
            height: 250px;
        }

    }

    .info-software {
        height: 200px;
        background-color: rgba(0,0,0,0.6);
    }

    /* TYPOGRAPHY */
    .kicker-featured{font-size: 32px;font-weight: 600; color: $primary;}
    .h1-featured{font-size: 80px;font-weight: bold; color: $primary; line-height: 80px;}
    .h2-featured{font-size: 28px;font-weight: 600; color: $primary;}
    .h3-featured{font-size: 22px;font-weight: 500; color: $primary;}
    .h4-featured{font-size: 12px;font-weight: 500; color: $primary;}
    .caption-featured{font-size: 14px;font-weight: 500; color: $primary;}
    .h1-section{font-size: 28px;font-weight: bold; color: $primary;}
    .h2-section{font-size: 22px;font-weight: 600; color: $primary;}
    .body-section{font-size: 18px;font-weight: 400; color: $primary;}
    .list-section{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-section{font-size: 22px;font-weight: 600; color: $primary;}
    .numbers{font-size: 140px;font-weight: 600; color: $primary; line-height: 140px;}
    .h1-news{font-size: 36px;font-weight: 600; color: $primary;}
    .a-link{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary; cursor: pointer;}
    .a-link:hover{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}
    /* END TYPOGRAPHY*/

        
    .text-legenda {
        background-color: rgba(0,0,0,0.4);
        padding: 10px;
        font-size: 14px;
    }

    .display-none-md {
        display: none !important;
    }
}