$white: white;
$primary: #000000;
$secondary: #ffd079;
/* DESKTOP */
@media (min-width: 769px) {

  .main { 
      width: 100%;
      height: 900px;
      background-image: url("../imgs/Bitmap-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 900px;
    }

    .login {
      width: 100%;
      height: 92%;
      background-color: #f1f2f3;

      .card-login {
        width: 450px;
        height: 450px;
        border: solid 1px #777777;
        background-color: white;

        h1 {
          font-size: 30px;
          color: #777777;
        }

        .form-login {
          width: 100%;
        }
      }
    }
  
    .legenda {
      height: 150px;
      padding: 20px;
    }
    
    .text-legenda {
      background-color: rgba(0,0,0,0.4);
      padding: 10px;
      font-size: 14px;
    }
  
    .info-principal {
      margin-top: 150px;

      .banner {
        height: 250px;
      }

    }
  
    .info-software {
      height: 200px;
      background-color: rgba(0,0,0,0.6);
    }
    
    .img-logo {
      background-color: #f1f2f3;
      border-radius: 50%;
      border: 1px solid #777777;
      width: 70px;
      height: 70px;
    }
  
    .know-more {
      width: 100%;
      height: 1173px;
      background-image: url("../imgs/Bitmap-3.png");
      background-repeat: no-repeat;
      background-size: 100% 1173px;

      .container {
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 1173px;
        padding: 40px;
      }

      .product-item {
        .product-item-content {
            width: 100%;
            border-radius: 3px;
            margin: .3rem;
            text-align: center;
            padding: 2rem 0;
        }
    
        .product-image {
            width: 100%;
            height: auto;
          }
        }

        .p-carousel, .p-carousel-content {
          max-width: 1400px;
        }
    }
  
    .results {
      position: relative;
      padding-top: 50px;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      
      h1 {
        font-size: 28px;
        text-align: center;
        color: #777777;
      }
  
      .carousel-item {
        padding: 30px;
        color: #777777;
          .carousel-item-content {
            text-align: center;
            padding: 2rem 0;        
          }
      }
    }
  
    .news {

      .product-item {
          .product-item-content {
              width: 100%;
              border-radius: 3px;
              margin: .3rem;
              text-align: center;
              padding: 2rem 0;
          }
      
          .product-image {
              width: 592px;
              height: auto;
          }
      }

      .p-carousel, .p-carousel-content {
        width: 1400px;
      }

      .img-carousel {
        height: 333px;
        width: 550px;
        background-image: url("../imgs/Bitmap-2.png");
        background-size: 550px 333px;
      }
  
    }
  
    .images-mosaics {
      position: relative;
      width: 100%;

      .container {
        margin-top: 120px;
        z-index: 2;
      }
    
      .img-after {
        background-image: url("../imgs/BitMap12.png");
        background-size: 100% 400px;
        height: 400px;
      }

      .img-timeline {
        background-image: url("../imgs/Bitmap-6.png");
        background-size: 100% 400px;
        height: 400px;
      }
  
    }

    .images-mosaics::before {
      background-image: url("../imgs/Bitmap-4.png");
      background-size: 100% 1314px;
      background-repeat: no-repeat;
      opacity: 0.15;
      z-index: 1;
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  
    .can-access {
      border: 1px solid #777777;
      position: relative;
      color:  #777777;
  
      
      .info-can-access {
        height: 100px;
      }
  
      h2 {
        font-size: 20px;
        padding: 20px;
  
      }
  
      h1 {
        font-size: 24px;
        margin-top: 40px;
  
      }
  
      p {
        font-size: 18px;
        padding: 20px;
        width: 60%;
      }
  
      .can-access-open {
        margin-bottom: 20px;
      }
    
    }
  
    .info-dashboard {
      height: 1200px;
      background-image: url("../imgs/Bitmap-7.png");
      background-size: 100% 1200px;
      background-repeat: no-repeat;

      .container {
        width: 100%;
        height: 1200px;
        background-color: rgba(0,0,0,0.6);
      }
      
      .div-left {
        height: 1200px;
      }

      .img-macbook {
        height: 736px;
        width: 981px;
        margin-left: -210px;
        background-image: url("../imgs/notebook.png");
        background-repeat: no-repeat;
        background-size: 981px auto;
        margin-bottom: -190px;
      }
      
      .img-iphone {
        width: 382px;
        height: 526px;
        background-image: url("../imgs/Bitmap-8.png");
        background-repeat: no-repeat;
        background-size: 382px 526px;
      }
    }

    .platform {
      position: relative;
      width: 100%;
      background-image: url("../imgs/Bitmap-9.png");
      background-size: 100% auto;

      .img-platform-ead {
        width: 357px;
        height: 320px;
        background-image: url("../imgs/vector/vector-laptop.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
      }

      .img-platform-courses {
        width: 266px;
        height: 320px;
        background-image: url("../imgs/vector/vector-ead-1.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
      }

      .img-platform-public {
        width: 339px;
        height: 320px;
        background-image: url("../imgs/vector/vector-publico.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
    }

    .common-questions {
      min-height: 600px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .img-questions {
        width: 100%;
        height: 344px;
        background-image: url("../imgs/Bitmap-10.png");
        background-size: 100% 344px;
      }

      .img-questions-bk {
        width: 100%;
        height: 344px;
        background-color: rgba(0,0,0,0.4);
      }

      .mat-expansion-panel-header{
        margin: 40px 0;
      }

      .mat-expansion-panel-header:hover{
        background-color: rgba(0,0,0,0) !important;
      }

      .mat-expansion-panel-header {
        text-align: start;
      }

      .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
      }

      .mat-expansion-panel-header:not([aria-disabled=true]) {
        height: auto;
      }

    }

    .info-news {

      .info-news-main {
        width: 100%;
        background-image: url("../imgs/Bitmap-2.png");
        background-size: 100% auto;
      }

      .container-news {
        width: 100%;
        height: 900px;
        background-color: rgba(0,0,0,0.3);
        background-size: 100% auto;
      }

      .img-news {
        width: 100%;
        height: 100%;
      }

      .item-news {
        width: 485px;
        height: 273px;
      }

      .separator-news {
        width: 48px;
        height: 6px;
      }
    }

    .info-image {

      .info-image-main {
        width: 100%;
        height: 640px;
        background-image: url("../imgs/Bitmap-5.png");
        background-size: 100% 640px;
      }

      .container-image {
        width: 100%;
        height: 640px;
        background-color: rgba(0,0,0,0.3);
        background-size: 100% auto;
      }

      .img-image {
        width: 100%;
        height: 100%;
      }

      .item-image {
        width: 485px;
        height: 273px;
      }

      .separator-image {
        height: 48px;
        width: 6px;
      }
    }

    .footer {
      height: 240px;
      width: 100%;
      background-image: url("../imgs/Bitmap-11.png");
      background-size: 100% auto;
      background-position-y: 50%;

      .logo-footer {
        height: 82px;
      }
    }
        
    .request-access {
      width: 100%;
      height: 93%;
      border: 1px solid #777777;

      .container {
        width: 100%;
      }
    }

    .more-info {
      cursor: pointer;
    }

    /* TYPOGRAPHY */
    .kicker-featured{font-size: 32px;font-weight: 600; color: $primary;}
    .h1-featured{font-size: 80px;font-weight: bold; color: $primary; line-height: 80px;}
    .h2-featured{font-size: 28px;font-weight: 600; color: $primary;}
    .h3-featured{font-size: 22px;font-weight: 500; color: $primary;}
    .h4-featured{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-featured{font-size: 14px;font-weight: 500; color: $primary;}
    .h1-section{font-size: 28px;font-weight: bold; color: $primary; line-height: 1.29; letter-spacing: 0.6px; font-stretch: normal;}
    .h2-section{
      font-size: 22px;
      font-weight: 600; 
      color: $primary; 
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: 0.6px;
    }
    .body-section{
      font-size: 18px;
      color: $primary;
      line-height: 1.56; 
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
    .body-lg {
      font-size: 18px;
      color: $primary;
      line-height: 1.56; 
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
    .list-section{font-size: 16px;font-weight: 500; color: $primary;}
    .caption-section{font-size: 22px;font-weight: 600; color: $primary;}
    .numbers{font-size: 140px;font-weight: 600; color: $primary; line-height: 140px;}
    .h1-news{
      font-size: 36px;
      font-weight: 600; 
      color: $primary;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
    }
    .h1-news-xs{
      font-size: 36px;
      font-weight: 600; 
      color: $primary;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
    }
    .a-link{
      font-size: 18px;
      font-weight: 500; 
      border-bottom: 1px solid rgba(0,0,0,0.3);
      color: $primary; cursor: pointer;
    }
    .a-link:hover{font-size: 18px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}
    /* END TYPOGRAPHY*/

    .kicker-featured-mb{font-size: 24px;font-weight: 600;color: $primary;}
    .h1-featured-mb{font-size: 48px;font-weight: bold;line-height: 48px;color: $primary;}
    .h1-featured-mb-fine{font-size: 48px;font-weight: 400;line-height: 48px;color: $primary;}
    .h2-featured-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .h3-featured-mb{font-size: 16px;font-weight: 600;color: $primary;}
    .h4-featured-mb{font-size: 12px;font-weight: 500;color: $primary;}
    .caption-featured-mb{font-size: 12px;font-weight: 500;color: $primary;}
    .h1-section-mb{font-size: 20px;font-weight: bold;color: $primary;}
    .h2-section-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .body-section-mb{font-size: 16px;font-weight: 500;color: $primary;}
    .list-section-mb{font-size: 14px;font-weight: 500;color: $primary;}
    .caption-section-mb{font-size: 18px;font-weight: 600;color: $primary;}
    .numbers-mb{font-size: 120px;font-weight: 600; line-height: 120px;color: $primary;}
    .h1-news-mb{font-size: 22px;font-weight: 600;color: $primary;}
    .a-link-mb{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary; cursor: pointer;}
    .a-link-mb:hover{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary; cursor: pointer;}

    .paginator-example {
      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
          display: none;
      }
    }

    .black-container {
      background: #333333;
    }

    
    .display-none-lg {
      display: none !important;
    }

    
    .icon-satelite {
      width: 145px;
      height: 94px;
      background-image: url("../imgs/icons/icon-nav-satelite.png");
      background-size: 110px 94px;
      background-repeat: no-repeat;
    }

    .icon-dashboard {
        width: 64px;
        height: 94px;
        background-image: url("../imgs/icons/icon-nav-dashboard.png");
        background-size: 64px 94px;
        background-repeat: no-repeat;
    }

    .icon-ead {
        width: 65px;
        height: 94px;
        background-image: url("../imgs/icons/icon-nav-ead.png");
        background-size: 65px 94px;
        background-repeat: no-repeat;
    }

    .logo-justica {
        width: 179px;
        height: 56px;
        margin-top: 20px;
        background-image: url("../imgs/logos/logo-justica.png");
        background-size: 179px 56px;
        background-repeat: no-repeat;
    }

    .logo-pf {
        width: 74px;
        height: 90px;
        background-image: url("../imgs/logos/pf.png");
        background-size: 74px 90px;
        background-repeat: no-repeat;
    }

    .logo-senasp {
        width: 220px;
        height: 38px;
        margin-top: 25px;
        background-image: url("../imgs/logos/logo-senasp.png");
        background-size: 220px 38px;
        background-repeat: no-repeat;
    }

    .logo-sccon {
      width: 100%;
      height: auto;
      background-image: url("../imgs/logos/sccon.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    /* END DESKTOP*/
  }
  