$white: white;
$primary: #000000;
$secondary: #ffd079;

/* MOBILE */
@media (max-width: 375px) {

  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    font-size: 12px;
  }

  .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    font-size: 12px;
  }

  .main {
    width: 100%;
    height: 884px;
    background-image: url(~src/assets/imgs/Bitmap-1.png);
    background-size: auto 884px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .info-principal {
    margin-top: 200px;
    width: 100% !important;

    .container {
      width: 360px;
    }
  }

  .info {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #777777;
    margin: 10px;
    background-color: white;
  }

  .info-software {
    height: 220px;
    width: 375px;
    background-color: rgba(0, 0, 0, 0.6);
  }


  .text-legenda {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 14px;
    margin-top: 100px;
  }

  .img-logo {
    background-color: #f1f2f3;
    border-radius: 50%;
    border: 1px solid #777777;
    width: 58px;
    height: 58px;
  }

  .know-more {
    width: 375px;
    height: 1140px;
    background-image: url(~src/assets/imgs/Bitmap-3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1525px auto;
    background-position: center;

    .container {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 1140px;
    }

    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
      display: none;
    }

    .product-item {
      .product-item-content {
        width: 100%;
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
      }

      .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
      }
    }

    .p-carousel,
    .p-carousel-content {
      width: 375px;
    }
  }


  .news {

    .header-news {
      width: 375px;
      margin-bottom: 25px;
    }

    .pi {
      display: none;
    }

    .product-item {
      width: 375px;

      .product-item-content {
        width: 100%;
      }

      .product-image {
        width: 375px;
        height: auto;
      }

    }

    .p-carousel,
    .p-carousel-content {
      width: 375px;
    }

    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
      display: none;
    }

    .legenda {
      width: 350px;
    }

  }

  .images-mosaics {
    position: relative;
    width: 100%;

    .container {
      z-index: 2;
    }

    .img-after {
      background-image: url(~src/assets/imgs/Bitmap12.png);
      background-size: 100% 375px;
      height: 375px;
      width: 375px;
    }

    .img-timeline {
      background-image: url(~src/assets/imgs/Bitmap-6.png);
      background-size: 100% 375px;
      height: 375px;
      width: 375px;
    }
  }

  .images-mosaics::before {
    background-image: url(~src/assets/imgs/Bitmap-4.png);
    background-size: 1000px 886px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    opacity: 0.15;
    z-index: 1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .can-access {
    height: 750px;
    border: 1px solid #777777;
    position: relative;
    color: #777777;


    .info-can-access {
      height: 70px;
      width: 300px;
    }

    h2 {
      font-size: 16px;
      padding: 10px;
    }

    h1 {
      font-size: 20px;
      margin-top: 40px;

    }

    p {
      font-size: 12px;
      padding: 20px;
      width: 90%;
    }

    .can-access-open {
      margin-bottom: 20px;
    }
  }

  .info-dashboard {
    height: 2055px;
    background-image: url(~src/assets/imgs/Bitmap-7.png);
    background-size: 100% 2055px;
    background-repeat: no-repeat;
    background-position: center;

    .container {
      width: 100%;
      height: 2055px;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .img-macbook {
      width: 375px;
      height: 397px;
      background-image: url(~src/assets/imgs/notebook.png);
      background-repeat: no-repeat;
      background-size: 608px auto;
      margin-bottom: 10px;
    }

    .img-iphone {
      width: 337px;
      height: 463px;
      background-image: url(~src/assets/imgs/Bitmap-8.png);
      background-repeat: no-repeat;
      background-size: 337px 463px;
    }

    .text-disponible {
      margin-right: 50px;
    }
  }

  .platform {
    position: relative;
    width: 100%;
    background-image: url(~src/assets/imgs/Bitmap-9.png);
    background-size: 250% auto;

    .img-platform-ead {
      width: 245px;
      height: 220px;
      background-image: url(~src/assets/imgs/vector/vector-laptop.svg);
      background-repeat: no-repeat;
      background-size: 90% auto;
      margin-top: 56px;
    }

    .img-platform-courses {
      width: 183px;
      height: 220px;
      background-image: url(~src/assets/imgs/vector/vector-ead-1.svg);
      background-repeat: no-repeat;
      background-size: 90% auto;
      margin-top: 20px;
    }

    .img-platform-public {
      width: 233px;
      height: 220px;
      background-image: url(~src/assets/imgs/vector/vector-publico.svg);
      background-repeat: no-repeat;
      background-size: 90% auto;
      margin-top: 20px;
    }
  }

  .common-questions {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .img-questions {
      width: 100%;
      height: 267px;
      background-image: url(~src/assets/imgs/Bitmap-10.png);
      background-size: 100% 267px;
    }

    .img-questions-bk {
      width: 100%;
      height: 267px;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .mat-expansion-panel-header {
      height: 100px;
      margin: 20px 0;
    }

    .mat-expansion-panel-header:hover {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .mat-expansion-panel-header {
      text-align: start;
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }

    .mat-expansion-panel-header:not([aria-disabled=true]) {
      height: auto;
    }
  }



  .info-news {

    .info-news-main {
      width: 100%;
      height: 812px;
      background-image: url(~src/assets/imgs/Bitmap-2.png);
      background-size: auto 812px;
      background-position-x: 50%;
      background-repeat: no-repeat;
    }

    .container-news {
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 100% auto;
    }

    .img-news {
      width: 375px;
      height: auto;
    }

    .separator-news {
      width: 48px;
      height: 6px;
      margin-left: 16px;
      margin-top: 10px;
    }


  }

  .info-image {

    .info-image-main {
      width: 100%;
      height: 812px;
      background-image: url(~src/assets/imgs/Bitmap-5.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
    }

    .container-image {
      width: 100%;
      height: 812px;
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 100% auto;
    }

    .img-image {
      width: 375px;
      height: auto;
    }

    .separator-image {
      height: 48px;
      width: 6px;
    }
  }

  .request-access {
    .request-image-main {
      width: 100%;
      height: 400px;
      background-image: url(~src/assets/imgs/Bitmap-3.png);
      background-size: 100% 400px;
      background-position-y: 50%;
      background-repeat: no-repeat;
    }

    .container-image {
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 100% auto;
    }

    
    .p-steps .p-steps-item.p-highlight .p-steps-title {
      font-size: 12px;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
      font-size: 12px;
    }
  }

  .faq {
    .mobile-captcha {
      position: relative;
      left: -70px;
    }
  }

  .footer {
    height: 160px;
    width: 100%;
    background-image: url(~src/assets/imgs/Bitmap-11.png);
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;

    .logo-footer {
      height: 57px;
    }
  }

  /* TYPOGRAPHY */
  .kicker-featured {
    font-size: 24px;
    font-weight: 600;
    color: $primary;
  }

  .h1-featured {
    font-size: 48px;
    font-weight: bold;
    color: $primary;
  }

  .h1-featured-mb {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    color: $primary;
  }

  .h2-featured {
    font-size: 18px;
    font-weight: 600;
    color: $primary;
  }

  .h3-featured {
    font-size: 16px;
    font-weight: 600;
    color: $primary;
  }

  .h4-featured {
    font-size: 12px;
    font-weight: 500;
    color: $primary;
  }

  .caption-featured {
    font-size: 12px;
    font-weight: 500;
    color: $primary;
  }

  .h1-section {
    font-size: 20px;
    font-weight: bold;
    color: $primary;
  }

  .h2-section {
    font-size: 18px;
    font-weight: 600;
    color: $primary;
  }

  .body-section {
    font-size: 16px;
    font-weight: 400;
    color: $primary;
  }

  .body-lg {
    font-size: 16px;
    color: $primary;
    line-height: 1.56;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }

  .list-section {
    font-size: 14px;
    font-weight: 500;
    color: $primary;
  }

  .caption-section {
    font-size: 18px;
    font-weight: 600;
    color: $primary;
  }

  .numbers {
    font-size: 120px;
    font-weight: 600;
    color: $primary;
  }

  .h1-news {
    font-size: 22px;
    font-weight: 600;
    color: $primary;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
  }

  .h1-news-xs {
    font-size: 22px;
    font-weight: 600;
    color: $primary;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
  }

  .a-link {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: $primary;
  }

  .a-link:hover {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    color: $primary;
  }

  /* END TYPOGRAPHY*/

  .display-none-sm {
    display: none !important;
  }

  .icon-satelite {
    width: 75px;
    height: 64px;
    background-image: url(~src/assets/imgs/icons/icon-nav-satelite.png);
    background-size: 75px 64px;
    background-repeat: no-repeat;
  }

  .icon-dashboard {
    width: 44px;
    height: 64px;
    background-image: url(~src/assets/imgs/icons/icon-nav-dashboard.png);
    background-size: 44px 64px;
    background-repeat: no-repeat;
  }

  .icon-ead {
    width: 44px;
    height: 64px;
    background-image: url(~src/assets/imgs/icons/icon-nav-ead.png);
    background-size: 44px 64px;
    background-repeat: no-repeat;
  }


  .logo-justica {
    width: 139px;
    height: 44px;
    background-image: url(~src/assets/imgs/logos/logo-justica.png);
    background-size: 139px 44px;
    background-repeat: no-repeat;
  }

  .logo-pf {
    width: 66px;
    height: 80px;
    background-image: url(~src/assets/imgs/logos/pf.png);
    background-size: 66px 80px;
    background-repeat: no-repeat;
  }

  .logo-senasp {
    width: 169px;
    height: 30px;
    background-image: url(~src/assets/imgs/logos/logo-senasp.png);
    background-size: 169px 30px;
    background-repeat: no-repeat;
  }

  .logo-sccon {
    width: 100%;
    height: auto;
    background-image: url(~src/assets/imgs/logos/sccon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

