    /* DESKTOP */
@media (min-width: 376px) {

    .navbar-title {
      font-size: 20px;
      color: #777777;
    }
  
    .menu-right {
      border-bottom: 1px solid  #777777;
    }
  
    .main {
      width: 100%;
      height: 800px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
    }
  
    .spacer {
      flex: 1 1 auto;
    }
  
    .ml-5 {
      margin-left: 75px;
    }
      
    .text-primary {
      font-size: 40px;
      margin-bottom: 25px;
    }
    
    .text-secondary {
      font-size: 20px;
      color: #777777;
      margin-bottom: 10px;
    }
  
    .legenda {
      height: 150px;
      padding: 20px;
    }
  
    .info-principal {
      height: 700px;
    }
  
    .info-software {
      height: 200px;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
  
      p {
        font-size: 20px;
        padding: 5px;    
        color: #777777;
        width: 154px;
        text-align: center;
      }
  
      button {
        width: 260px;
        height: 40px;
        border-radius: 29.5px;
        border: solid 1px #777777;
        background-color: #f1f2f3;
      }
  
      .text-login {
        width: 240px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        border-bottom: solid 1px #777777;
        cursor: pointer;
      }
    }
  
    .login-access {
      margin-left: 50px;
    }
    
    .img-logo {
      background-color: #f1f2f3;
      border-radius: 50%;
      border: 1px solid #777777;
      width: 70px;
      height: 70px;
    }
  
    .know-more {
      background-color: #f1f2f3;
      border: solid 1px #777777;
      padding: 40px;
      p {
        font-size: 25px;
        width: 50%;
        text-align: center;
        line-height: 40px;
        color: #777777;
      }
    }
  
    .results {
      position: relative;
      padding-top: 50px;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      
      h1 {
        font-size: 28px;
        text-align: center;
        color: #777777;
      }
  
      .carousel-item {
        padding: 30px;
        color: #777777;
          .carousel-item-content {
            text-align: center;
            padding: 2rem 0;        
          }
      }
    }
  
    .news {
      height: 800px;
      border: 1px solid #777777;
      color: #777777;
  
      h1 {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 26px;
      }
  
      h2 {
        font-size: 22px;
        color: #777777;
      }
  
      .custom-carousel{
        width: 80%;
      }
  
      .news-image {
        height: 250px; 
        width: 100%; 
        padding: 30px; 
        background-color: #f1f2f3;
        border: 1px solid #777777;
      }
  
      .conteudo {
        font-size: 20px;
        color: #777777;
        border: 1px solid #777777;
        height: 300px; 
        padding: 10px
      }
  
      .p-carousel .p-carousel-indicators {
        display: none;
      }
  
      .pi {
        font-size: 3rem;
      }
  
      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 4rem;
        height: 4rem;
        border: 1px solid #777777;
      }
  
      button {
        width: 160px;
        height: 40px;
        border-radius: 29.5px;
        border: solid 1px #777777;
        background-color: #f1f2f3;
      }
  
      .text-login {
        width: 160px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: solid 1px #777777;
        cursor: pointer;
      }
  
      .info-access {
        margin: 20px 0 20px 0;
      }
    }
  
    .images-mosaics {
      position: relative;
      color: #777777;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      border-bottom: 1px solid #777777;
      padding: 50px;
  
      p {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
      }
  
      h1 {
        font-size: 28px;
        margin-bottom: 20px;
      }
  
      .panel {
        height: 368px;
        width: 100%;
        border: 1px solid #777777;
        background-color: #f1f2f3;
      }
  
      .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
        width: 160px;
      }
  
      .spliter {
        position: relative;
        width: 550px;
        height: 400px;
        margin-top: 35px;
        background-color: #f1f2f3;
        border-color: #777777;
      }
  
      .title {
        font-size: 28px;
      }
    }
  
    .can-access {
      border: 1px solid #777777;
      position: relative;
      color:  #777777;
  
      
      .info-can-access {
        height: 100px;
      }
  
      h2 {
        font-size: 20px;
        padding: 20px;
  
      }
  
      h1 {
        font-size: 24px;
        margin-top: 40px;
  
      }
  
      p {
        font-size: 18px;
        padding: 20px;
        width: 60%;
      }
  
      .can-access-open {
        margin-bottom: 20px;
      }
    
    }
  
    .info-dashboard {
      height: 1200px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
      color: #777777;
  
      h1 {
        font-size: 30px;
        margin-top: 30px;
      }
      .div-left {
        height: 1100px;
        width: 50%;
        margin: 20px;
  
        p {
          font-size: 14px;
          line-height: 5px;
        }
      }
      
      .div-right {
        height: 800px;
        width: 50%;
        margin: 20px;
      }
  
      p{
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 1px;
        width: 80%;
      }
  
      .text-min {
        width: 250px;
      }
  
      .text-min-mobile {
        display: none;
      }
  
    }
    /* END DESKTOP*/
  }
  