$white: white;
$primary: #000000;
$secondary: #ffd079;
/* MOBILE */
@media (max-width: 375px) {
    
    .main {
      width: 100%;
      height: 884px;
      background-image: url("../imgs/Bitmap-1.png");
      background-size: auto 884px;
      background-repeat: no-repeat;
    }
    
    .info-principal {
      margin-top: 200px;
      width: 100% !important;
      
      .container {
        width: 360px;
      }
    }
    
    .info{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #777777;
      margin: 10px;
      background-color: white;
    }
  
    .info-software {
      height: 220px;
      width: 375px;
      background-color: rgba(0,0,0,0.6);
    }

        
    .text-legenda {
      background-color: rgba(0,0,0,0.4);
      padding: 10px;
      font-size: 14px;
      margin-top: 100px;
    }
      
    .img-logo {
      background-color: #f1f2f3;
      border-radius: 50%;
      border: 1px solid #777777;
      width: 58px;
      height: 58px;
    }
  
    .know-more {
      width: 375px;
      height: 1140px;
      background-image: url("../imgs/Bitmap-3.png");
      background-repeat: no-repeat;
      background-size: 1525px auto;
      background-position: center;

      .container {
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 1140px;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        display: none;
      }

      .product-item {
        .product-item-content {
            width: 100%;
            border-radius: 3px;
            margin: .3rem;
            text-align: center;
            padding: 2rem 0;
        }
    
        .product-image {
            width: 100%;
            height: auto;
            margin-bottom: 25px;
          }
        }

        .p-carousel, .p-carousel-content {
          width: 375px;
        }
    }
  
  
    .news {
      height: 800px;
      font-size: 20px;
      padding: 10px;
      
      .header-news {
        width: 375px;
        margin-bottom: 25px;
      }

      .pi {
        display: none;
      }

      .product-item {
          width: 375px;
          .product-item-content {
              width: 100%;
          }

          .product-image {
            width: 375px;
            height: auto;
          }
      
      }

      .p-carousel, .p-carousel-content {
        width: 375px;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        display: none;
      }

      .legenda {
        width: 350px;
      }
      
    }  
  
    .images-mosaics {
      position: relative;
      color: #777777;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      border-bottom: 1px solid #777777;
      
      p {
        font-size: 14px;
        line-height: 35px;
        width: 300px;
      }
  
      h1 {
        font-size: 16px;
        margin: 20px 0 !important;
        text-align: center;
      }
  
      .panel {
        height: 200px;
        width: 320px;
        border: 1px solid #777777;
        background-color: #f1f2f3;
      }
  
      .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
        width: 80px;
        font-size: 10px;
      }
  
      .spliter {
        position: relative;
        width: 300px;
        background-color: #f1f2f3;
        height: 256px;
        border-color: #777777;
      }
  
      .title {
        font-size: 16px;
      }
    }
  
    .can-access {
      height: 750px;
      border: 1px solid #777777;
      position: relative;
      color:  #777777;
  
      
      .info-can-access {
        height: 70px;
        width: 300px;
      }
  
      h2 {
        font-size: 16px;
        padding: 10px;
      }
  
      h1 {
        font-size: 20px;
        margin-top: 40px;
  
      }
  
      p {
        font-size: 12px;
        padding: 20px;
        width: 90%;
      }
      
      .can-access-open {
        margin-bottom: 20px;
      }
    }
  
    
    .info-dashboard {
      border: solid 1px #777777;
      background-color: #f1f2f3;
      color: #777777;
  
      h1 {
        font-size: 30px;
        margin-top: 30px;
      }
  
      .div-left {
        width: 100%;
        height: 500px;
        order: 2;
  
        p {
          font-size: 14px;
          line-height: 8px;
          width: 355px;
        }
      }
      
      .div-right {
        order: 1;
        width: 95%;
        margin: 20px;
      }
  
      p{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        width: 95%;
      }
  
      .text-min {
        display: none;
      }
      
      .text-min-mobile {
        font-size: 20px;
        margin-left: 15px;
        width: 200px;
      }
    }

    .platform {
      border: 1px solid #777777;
      width: 100%;
      position: relative;
      height: 1700px;

      .info-platform {
        width: 70%;
      }

      .info-platform-2 {
        width: 70%;
        height: 400px;
      }

      h1 {
        font-size: 20px !important;
        color: #777777;
      }

      h2 {
        font-size: 14px !important;
        color: #777777;
        width: 350px;
        margin-top: 30px !important;
      }

      .Rectangle-Copy-3 {
        width: 153px;
        height: 158px;
        padding: 36px 35px 38px;
        border: solid 1px #777777;
      }

      .Rectangle-Copy-12 {
        width: 56px;
        height: 56px;
        margin: 0 47px 48px 0;
        border: solid 1px #777777;
      }

      .Oval-Copy-3 {
        width: 56px;
        height: 56px;
        margin: -75px 0 0 30px;
        border-radius: 50%;
        border: solid 1px #777777;
      }
    }

    .platform-access {
      height: 100px;
      background-color: #f1f2f3;
      border: 1px solid #777777;
    }

    .common-questions {
      position: relative;
      width: 100%;
      border: 1px solid #777777;

      .accordion {
        width: 95%;
        padding: 8px;
      }

      .mat-expansion-panel-header {
        min-height: 190px;
      }
    }

    .faq {
      width: 100%;

      h1 {
        font-size: 27px !important;
        color: #777777;
        margin-top: 20px !important;
        text-align: center;
      }

      .form {
        width: 95%;
      }

      .input-50 {
        width: 100%;
      }

      .input-100 {
        width: 100%;
      }
    }

    .login {
      width: 100%;
      height: 94%;
      background-color: #f1f2f3;

      .card-login {
        width: 100%;
        height: 450px;
        border: solid 1px #777777;
        background-color: white;

        p {
          width: 95%;
          text-align: center;
        }
        
        h1 {
          font-size: 30px;
          color: #777777;
        }

        .form-login {
          width: 375px;
        }

        .mat-form-field {
          width: 95%;
        }
      }
    }
    
    .info-news {
      color: #777777;
      .info-news-main {
        height: 600px;
        background-color: #f1f2f3;
        border: 1px solid #777777;
      }

      .text-news {
        width: 95%;
        height: 200px;
      }

      .title-news {
        font-size: 24px;
        line-height: 24px;
        width: 95%;
      }

      .title-news-container {
        font-size: 30px;
        text-align: center;
        line-height: 30px;
        margin: 20px 0;
        width: 95%;
      }

      .title-news-container-item {
        font-size: 14px;
        line-height: 30px;
        width: 95%;
        padding: 10px 0;
      }

      .description-news {
        font-size: 16px;
        width: 95%;
      }

      .description-news-origin {
        font-size: 12px;
        width: 300px;
        display: none;
      }

      .description-news-container {
        display: none;
      }

      .info-news-container {
        width: 95%;
        border-bottom: 1px solid #f1f2f3;
        padding: 10px;
      }

      .img-news {
        width: 100px;
        height: 100px;
        border: solid 1px #777777;
        background-color: #f1f2f3;
      }

      .info-news-description {
        width: 70%;
      }
    }

    .request-access {
      width: 100%;
      height: 93%;
      border: 1px solid #777777;
      p {
        text-align: center;
      }
      .container {
        width: 95%;
      }
      h1 {
        text-align: center;
        width: 90%;
      }
    }

    .footer {
      height: 100px;
      background-color: #f1f2f3;
      border: 1px solid #777777;

      h1 {
        font-size: 36px;
        margin: 0px !important;
      }
    }

    /* TYPOGRAPHY */
    .kicker-featured{font-size: 24px;font-weight: 600;color: $primary;}
    .h1-featured{font-size: 48px;font-weight: bold;color: $primary;}
    .h2-featured{font-size: 18px;font-weight: 600;color: $primary;}
    .h3-featured{font-size: 16px;font-weight: 600;color: $primary;}
    .h4-featured{font-size: 12px;font-weight: 500;color: $primary;}
    .caption-featured{font-size: 12px;font-weight: 500;color: $primary;}
    .h1-section{font-size: 20px;font-weight: bold;color: $primary;}
    .h2-section{font-size: 18px;font-weight: 600;color: $primary;}
    .body-section{font-size: 16px;font-weight: 500;color: $primary;}
    .list-section{font-size: 14px;font-weight: 500;color: $primary;}
    .caption-section{font-size: 18px;font-weight: 600;color: $primary;}
    .numbers{font-size: 120px;font-weight: 600;color: $primary;}
    .h1-news{font-size: 22px;font-weight: 600;color: $primary;}
    .a-link{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.3);color: $primary;}
    .a-link:hover{font-size: 16px;font-weight: 500; border-bottom: 1px solid rgba(0,0,0,0.7);color: $primary;}
    /* END TYPOGRAPHY*/

  .display-none-sm {
    display: none !important;
  }

  .icon-satelite {
    width: 75px;
    height: 64px;
    background-image: url("../imgs/icons/icon-nav-satelite.png");
    background-size: 75px 64px;
    background-repeat: no-repeat;
  }

  .icon-dashboard {
    width: 44px;
    height: 64px;
    background-image: url("../imgs/icons/icon-nav-dashboard.png");
    background-size: 44px 64px;
    background-repeat: no-repeat;
  }

  .icon-ead {
    width: 44px;
    height: 64px;
    background-image: url("../imgs/icons/icon-nav-ead.png");
    background-size: 44px 64px;
    background-repeat: no-repeat;
  }

  
  .logo-justica {
    width: 139px;
    height: 44px;
    background-image: url("../imgs/logos/logo-justica.png");
    background-size: 139px 44px;
    background-repeat: no-repeat;
  }

  .logo-pf {
      width: 66px;
      height: 80px;
      background-image: url("../imgs/logos/pf.png");
      background-size: 66px 80px;
      background-repeat: no-repeat;
  }

  .logo-senasp {
      width: 169px;
      height: 30px;
      background-image: url("../imgs/logos/logo-senasp.png");
      background-size: 169px 30px;
      background-repeat: no-repeat;
  }
}