<!-- SAIBA MAIS -->
<div class="know-more" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center center">
    <p>
        A Plataforma Web permite o acesso e compartilhamento das imagens de satélites diárias adquiridas pela constelação PlanetScope, composta por mais de 130 satélites, fornecidas no âmbito do contrato n° 018/2020 celebrado entre Polícia Federal e a Santiago & Cintra Consultoria – SCCON.
    </p>
    <p>
        O compartilhamento das imagens por meio da Plataforma Web visa contribuir para que o acesso e a utilização dos produtos fornecidos sejam potencializados e compartilhados entre as instituições e milhares de usuários públicos de todo Brasil cadastrados na Plataforma a partir de termo de adesão ao Programa Brasil M.A.I.S. a ser firmado junto ao Ministério da Justiça e Segurança Pública pelas respectivas instituições públicas.
    </p>
</div>