<div class="main" fxLayout="column" fxLayoutAlign="space-between center">
    <div style="margin-top: 50px" fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-card style="height: 50px; width: 100px; margin-right: 10px;" class="example-card"></mat-card>
        <mat-card style="height: 50px; width: 100px; margin-right: 10px;" class="example-card"></mat-card>
        <mat-card style="height: 50px; width: 100px; margin-right: 10px;" class="example-card"></mat-card>
    </div>
    <div fxLayout="row">
        Texto
    </div>
</div>