<!-- BANNER PRINCIPAL COM IMAGEM, LOGOS E PROGRAMA SAIBA MAIS -->
<div class="main" fxLayout="column" fxLayoutAlign="space-between">
    <div class="info-principal" fxLayout="column" fxLayoutAlign="space-between center">

        <div style="margin-top: 50px" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="card-logo"></div>
            <div class="card-logo"></div>
            <div class="card-logo"></div>
        </div>
        <div fxLayout="column">
            <div fxLayout="column">
                <div class="text-primary text-center">{{'landing-page.main.program' | translate}}</div>
                <div class="text-secondary text-center">{{'landing-page.main.program-sub-title' | translate}}</div>
                <div class="text-secondary text-center">{{'landing-page.main.program-sub-title2' | translate}}</div>
                <div class="text-secondary text-center">{{'landing-page.main.program-sub-title3' | translate}}</div>
            </div>
        </div>
    </div>
    <div class="legenda" fxLayout="row" fxLayoutAlign="end end">
        <span class="text-login" fxFlex="20%" fxFlex.xs="80%">
            Toras de madeira nativa apreendidas durante a Operação Handroanthus GLO, da Polícia Federal, no oeste do Pará. Polícia Federal Divulgação
        </span>
        <div class="info"></div>
    </div>
</div>