<div class="common-questions" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="space-around center">
    <h1>{{'landing-page.common-questions.title' | translate}}</h1>
    <mat-accordion class="accordion" *ngFor="let item of arrQuestions">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
               {{item.question}}
            </mat-panel-title>
        </mat-expansion-panel-header>
          <p>{{item.response}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <button class="button-radius" routerLink="request-access">Mais perguntas</button>
</div>
