<div *ngIf="currentAction == 'login'" class="login" fxLayout="row" fxLayoutAlign="center center">
    <!-- LOGIN -->
    <div  class="card-login" fxLayout="column" fxLayoutAlign="center center">
        <h1>Autenticação</h1>

        <div class="form-login" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field class="input-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input id="email" name="input-email" matInput placeholder="Email">
                <mat-error >
                    *Preenchimento de campo obrigatório
                </mat-error>
                <mat-error >
                    Quantidade minima de caracteres não informada!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input-100" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" id="password" name="input-password" maxlength="9" matInput placeholder="Password">
                <mat-error >
                    *Preenchimento de campo obrigatório
                </mat-error>
                <mat-error >
                    Quantidade minima de caracteres não informada!
                </mat-error>
            </mat-form-field>
            <button class="button-radius-long">Login</button>
            <div class="recover-password">
                <a mat-flat-button (click)="redirecTo('landing-page/login/recover')">Recuperar senha</a>
            </div>
        </div>
    </div>
</div>

<!-- LOGOUT -->
<div *ngIf="currentAction == 'logout'" class="login" fxLayout="column" fxLayoutAlign="center center">
    <div class="card-login" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h1>Sair da Plataforma</h1>
        <div class="form-login" fxLayout="column" fxLayoutAlign="center center">
            <p> Tem certeza que deseja sair da plataforma ?</p>
            <div fxFlex="row">
                <button class="button-radius-white">Não</button>
                <button class="button-radius">Sim</button>
            </div>
        </div>
    </div>
</div>


<!-- RECUPERAR SENHA -->
<div *ngIf="currentAction == 'recover'" class="login" fxLayout="row" fxLayoutAlign="center center">
    <div  class="card-login" fxLayout="column" fxLayoutAlign="center center">
        <h1>Recuperar Senha</h1>

        <div class="form-login" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field class="input-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input id="email" name="input-email" matInput placeholder="Email">
                <mat-error >
                    *Preenchimento de campo obrigatório
                </mat-error>
                <mat-error >
                    Quantidade minima de caracteres não informada!
                </mat-error>
            </mat-form-field>
            <p>Você irá reber um email com instruções para recuperar sua senha</p>

            <button class="button-radius-long">Login</button>
            <div class="recover-password">
                <a mat-flat-button (click)="redirecTo('landing-page/login/recover')">Recuperar senha</a>
            </div>
        </div>
    </div>
</div>
