<div class="can-access" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="space-around center">
    <h1>Quem pode Acessar ?</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="space-between center">
        <div class="info-can-access" fxLayout="row" fxLayoutAlign.xs="start center" fxLayoutAlign="center center">
            <div class="img-logo" ></div>
            <h2>
                Universidades Públicas
            </h2>
        </div>
        <div class="info-can-access" fxLayout="row" fxLayoutAlign.xs="start center" fxLayoutAlign="center center">
            <div class="img-logo" ></div>
            <h2>
                Orgãos Públicos
            </h2>
        </div>
        <div class="info-can-access" fxLayout="row" fxLayoutAlign.xs="start center" fxLayoutAlign="center center">
            <div class="img-logo" ></div>
            <h2>
                Instituições Públicas
            </h2>
        </div>
    </div>
    <p>
        Para que o usuário possa realizar o acesso à Plataforma Web com as imagens e mosaicos Planet, deve ser atendida a seguinte condição:<br>
        A instituição pública a qual o usuário está vinculado deve estar previamente cadastrada mediante termo de adesão ao Programa Brasil M.A.I.S. firmado junto à Secretaria Executiva do Ministério da Justiça e Segurança Pública.
        Caso sua instituição não esteja cadastrada, o usuário deve solicitar à maior autoridade da sua instituição para que entre em contato:<br>
        a) No caso de instituição de segurança pública estadual, distrital ou municipal, com a Secretaria Nacional de Segurança Pública - Senasp.<br>
        b) Para as demais instituições públicas federais, estaduais, distritais e municipais, com a Secretaria-Executiva do Ministério da Justiça e Segurança Pública.
    </p>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <button class="button-radius" routerLink="request-access">Solicitar Acesso</button>
        <button class="button-radius" routerLink="login">Acessar Agora</button>
    </div>
</div>
