<div class="info-software" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center center">
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>Imagens diárias <br>e mosaicos</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>Dashboard de <br> Alertas</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>Plataforma <br>EAD</p>
        </div>
    </div>
    <div class="login-access" fxLayout="column" fxLayoutAlign="center center">
        <button mat-button >Acessar Agora</button>
        <div class="text-login " fxLayoutAlign="end center">Sem acesso? Solicite cadastro</div>
    </div>
</div>
