<!-- SECTION DE DIVULGAÇÃO DO ECOSSISTEMA SSCON -->
<div class="info-software" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center center">
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>{{'landing-page.info-software.images' | translate}} <br> {{'landing-page.info-software.mosaics' | translate}}</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>{{'landing-page.info-software.dashboard' | translate}}  <br> {{'landing-page.info-software.alerts' | translate}} </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
            <div class="img-logo"></div>
            <p>{{'landing-page.info-software.platform' | translate}}  <br>{{'landing-page.info-software.ead' | translate}} </p>
        </div>
    </div>
    <div class="info-access" fxLayout="column" fxLayoutAlign="center center">
        <button mat-button routerLink="login">{{'landing-page.info-software.access-now' | translate}}</button>
        <div class="text-login " fxLayoutAlign="end center">{{'landing-page.info-software.request-access' | translate}}</div>
    </div>
</div>
