<div class="request-access" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
        <h1>Cadastro para acesso à plataforma Web</h1>
        <div class="container" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field class="input-100" appearance="outline">
                <mat-label>Insira seu email institucional</mat-label>
                <input id="email" name="input-email" matInput placeholder="Email">
                <mat-error >
                    *Preenchimento de campo obrigatório
                </mat-error>
                <mat-error >
                    Quantidade minima de caracteres não informada!
                </mat-error>
            </mat-form-field>
            <button class="button-radius" style="margin-top: 5px;">Avançar</button>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign="center center">
        <h2>Instituição não habilitada</h2>
        <p>Sua instituição não está habilitada para acesso à Plataforma Web.    </p>
        <p>Caso tenha interesse em acessar, por favor, informe ao dirigente máximo da sua instituição para que solicite a habilitação:</p>
    
        <p>a) No caso de instituição de segurança pública estadual, distrital ou municipal, com a Secretaria Nacional de Segurança Pública - Senasp, solicitando o acesso, através do seguinte contato:</p>
    
        <p>Sua instituição não está habilitada para acesso à Plataforma Web.</p>
        <p>Caso tenha interesse em acessar, por favor, informe ao dirigente máximo da sua instituição para que solicite a habilitação:</p>
    
        <p>a) No caso de instituição de segurança pública estadual, distrital ou municipal, com a Secretaria Nacional de Segurança Pública - Senasp, solicitando o acesso, através do seguinte contato:</p>
    </div>

</div>
