
@import '~@angular/material/theming';

@include mat-core();
$md-mcgpalette-main: (
    50 : #ede0e0,
    100 : #d1b3b3,
    200 : #b38080,
    300 : #954d4d,
    400 : #7e2626,
    500 : #670000,
    600 : #5f0000,
    700 : #540000,
    800 : #4a0000,
    900 : #390000,
    A100 : #ff6f6f,
    A200 : #ff3c3c,
    A400 : #ff0909,
    A700 : #ef0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$busca-cep-primary: mat-palette($md-mcgpalette-main);
$busca-cep-accent: mat-palette($md-mcgpalette-main);
$busca-cep-theme: mat-light-theme($busca-cep-primary, $busca-cep-accent);

@include angular-material-theme ($busca-cep-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar {
    width: 100%;
    height: 64px;
    border: 1px solid #979797;
    padding: 15px;
    display: block;
}

.line {
  width: 100px;
  height: 2px;
  margin: 3.5px 0 0 547px;
  border:  1px solid #979797;
}

.menu {
  float: left;
  position: absolute;
  padding: 10px;
}

.button-radius {
  height: 40px;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: #f1f2f3;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 375px) {
  
  .text-login {
    display: none;
  }
  
  .navbar-title {
    font-size: 18px;
    color: #777777;
  }

  .ml-5 {
    margin-left: 15px;
  }
  
  .main {
    width: 100%;
    height: 600px;
    border: solid 1px #777777;
    background-color: #f1f2f3;
  }

  .info-principal {
    height: 700px;
  }

  .text-primary {
    font-size: 20px;
    margin-bottom: 25px;
  }
 
  .text-secondary {
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
  }

  .legenda {
    display: none;
  }

  .info{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #777777;
    margin: 10px;
    background-color: white;
  }

  .info-software {
    padding-top: 50px;
    padding-bottom: 50px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;

    p {
      font-size: 14px;
      color: #777777;
      width: 120px;
      text-align: center;
    }

    button {
      width: 200px;
      height: 40px;
      border-radius: 29.5px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
    }

    .text-login {
      width: 240px;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      border-bottom: solid 1px #777777;
      cursor: pointer;
    }
  }
    
  .img-logo {
    background-color: #f1f2f3;
    border-radius: 50%;
    border: 1px solid #777777;
    width: 58px;
    height: 58px;
  }

  .know-more {
    background-color: #f1f2f3;
    border: solid 1px #777777;
    padding: 15px;
    p {
      font-size: 18px;
      width: 100%;
      padding: 10px;
      text-align: center;
      line-height: 30px;
      color: #777777;
    }
  }

  .results {
    position: relative;
    padding-top: 50px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;

    h1 {
      font-size: 28px;
      text-align: center;
      color: #777777;
    }

    .carousel-item {
      padding: 30px;
      height: 600px;
      color: #777777;
        .carousel-item-content {
          text-align: center;
          padding: 2rem 0;        
        }
    }

    .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
      display: none;
    }
  }

  .news {
    position: relative;
    height: 800px;
    border: 1px solid #777777;
    color: #777777;

    h1 {
      text-align: center;
      margin: 30px 0 30px 0;
      font-size: 26px;
    }

    h2 {
      font-size: 16px;
      color: #777777;
      line-height: 20px;
      width: 200px;
    }

    .custom-carousel{
      width: 375px;
    }

    .news-image {
      height: 250px; 
      padding: 30px; 
      background-color: #f1f2f3;
      border: 1px solid #777777;
      width: 250px;
    }

    .conteudo {
      font-size: 20px;
      color: #777777;
      border: 1px solid #777777;
      height: 300px; 
      padding: 10px;
      width: 250px;
    }

    .p-carousel .p-carousel-indicators {
      display: none;
    }

    .pi {
      font-size: 1rem;
    }

    .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
      width: 2rem;
      height: 2rem;
      border: 1px solid #777777;
    }

    button {
      width: 160px;
      height: 40px;
      border-radius: 29.5px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
    }

    .text-login {
      width: 160px;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      border-bottom: solid 1px #777777;
      cursor: pointer;
    }
  }

  .images-mosaics {
    position: relative;
    color: #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
    
    p {
      font-size: 14px;
      line-height: 35px;
      width: 300px;
    }

    h1 {
      font-size: 16px;
      margin-bottom: 20px;
      margin: 20px 0;
    }

    .panel {
      height: 200px;
      width: 320px;
      border: 1px solid #777777;
      background-color: #f1f2f3;
    }

    .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
      width: 80px;
      font-size: 10px;
    }

    .spliter {
      position: relative;
      width: 300px;
      background-color: #f1f2f3;
      height: 256px;
      border-color: #777777;
    }

    .title {
      font-size: 16px;
    }
  }

  .can-access {
    height: 750px;
    border: 1px solid #777777;
    position: relative;
    color:  #777777;

    
    .info-can-access {
      height: 70px;
      width: 300px;
    }

    h2 {
      font-size: 16px;
      padding: 10px;
    }

    h1 {
      font-size: 20px;
      margin-top: 40px;

    }

    p {
      font-size: 12px;
      padding: 20px;
      width: 90%;
    }
  
  }
  /* END MOBILE*/
}

/* DESKTOP */
@media (min-width: 376px) {

  .navbar-title {
    font-size: 20px;
    color: #777777;
  }

  .menu-right {
    border-bottom: 1px solid  #777777;
  }

  .main {
    width: 100%;
    height: 800px;
    border: solid 1px #777777;
    background-color: #f1f2f3;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .ml-5 {
    margin-left: 75px;
  }
    
  .text-primary {
    font-size: 40px;
    margin-bottom: 25px;
  }
  
  .text-secondary {
    font-size: 20px;
    color: #777777;
    margin-bottom: 10px;
  }

  .legenda {
    height: 150px;
    padding: 20px;
  }

  .info-principal {
    height: 700px;
  }

  .info-software {
    height: 200px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;

    p {
      font-size: 20px;
      padding: 5px;    
      color: #777777;
      width: 154px;
      text-align: center;
    }

    button {
      width: 260px;
      height: 40px;
      border-radius: 29.5px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
    }

    .text-login {
      width: 240px;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      border-bottom: solid 1px #777777;
      cursor: pointer;
    }
  }

  .login-access {
    margin-left: 50px;
  }
  
  .img-logo {
    background-color: #f1f2f3;
    border-radius: 50%;
    border: 1px solid #777777;
    width: 70px;
    height: 70px;
  }

  .know-more {
    background-color: #f1f2f3;
    border: solid 1px #777777;
    padding: 40px;
    p {
      font-size: 25px;
      width: 50%;
      text-align: center;
      line-height: 40px;
      color: #777777;
    }
  }

  .results {
    position: relative;
    padding-top: 50px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    
    h1 {
      font-size: 28px;
      text-align: center;
      color: #777777;
    }

    .carousel-item {
      padding: 30px;
      color: #777777;
        .carousel-item-content {
          text-align: center;
          padding: 2rem 0;        
        }
    }
  }

  .news {
    height: 800px;
    border: 1px solid #777777;
    color: #777777;

    h1 {
      text-align: center;
      margin: 30px 0 30px 0;
      font-size: 26px;
    }

    h2 {
      font-size: 22px;
      color: #777777;
    }

    .custom-carousel{
      width: 80%;
    }

    .news-image {
      height: 250px; 
      width: 100%; 
      padding: 30px; 
      background-color: #f1f2f3;
      border: 1px solid #777777;
    }

    .conteudo {
      font-size: 20px;
      color: #777777;
      border: 1px solid #777777;
      height: 300px; 
      padding: 10px
    }

    .p-carousel .p-carousel-indicators {
      display: none;
    }

    .pi {
      font-size: 3rem;
    }

    .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
      width: 4rem;
      height: 4rem;
      border: 1px solid #777777;
    }

    button {
      width: 160px;
      height: 40px;
      border-radius: 29.5px;
      border: solid 1px #777777;
      background-color: #f1f2f3;
    }

    .text-login {
      width: 160px;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
      border-bottom: solid 1px #777777;
      cursor: pointer;
    }

    .info-access {
      margin: 20px 0 20px 0;
    }
  }

  .images-mosaics {
    position: relative;
    color: #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
    padding: 50px;

    p {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 30px;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .panel {
      height: 368px;
      width: 100%;
      border: 1px solid #777777;
      background-color: #f1f2f3;
    }

    .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
      width: 160px;
    }

    .spliter {
      position: relative;
      width: 550px;
      height: 400px;
      margin-top: 35px;
      background-color: #f1f2f3;
      border-color: #777777;
    }

    .title {
      font-size: 28px;
    }
  }

  .can-access {
    border: 1px solid #777777;
    position: relative;
    color:  #777777;

    
    .info-can-access {
      height: 100px;
    }

    h2 {
      font-size: 20px;
      padding: 20px;

    }

    h1 {
      font-size: 24px;
      margin-top: 40px;

    }

    p {
      font-size: 18px;
      padding: 20px;
      width: 60%;
    }
  
  }

  .info-dashboard {
    height: 1202px;
    padding: 0 236px 79px 0;
    border: solid 1px #777777;
    background-color: #f1f2f3;

    .Path-4 {
      width: 330px;
      height: 714px;
      margin-top: 50px;
      margin-left: 50px;
      transform: rotateY(180deg);
      border-radius: 8px;
      border: solid 1px #979797;
      background-color: #ffffff;
    }

  }
  /* END DESKTOP*/
}

.menu-style {
  margin-left: -16px !important;
  height: 850px !important;
  width: 200px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.card-logo {
  height: 70px; 
  width: 100px; 
  background-color: white;
  margin-right: 10px;
  border: solid 1px #777777;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #e9ecef !important;
  border-radius: 50% !important;
  border: 1px solid #777777;
  height: 15px !important;
  width: 15px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: white;
  border: 1px solid #777777;
  width: 2rem;
  height: 0.5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50% !important;
  height: 15px !important;
  width: 15px !important;
}