
@import '~@angular/material/theming';

@include mat-core();
$md-mcgpalette-main: (
    50 : #ede0e0,
    100 : #d1b3b3,
    200 : #b38080,
    300 : #954d4d,
    400 : #7e2626,
    500 : #670000,
    600 : #5f0000,
    700 : #540000,
    800 : #4a0000,
    900 : #390000,
    A100 : #ff6f6f,
    A200 : #ff3c3c,
    A400 : #ff0909,
    A700 : #ef0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$busca-cep-primary: mat-palette($md-mcgpalette-main);
$busca-cep-accent: mat-palette($md-mcgpalette-main);
$busca-cep-theme: mat-light-theme($busca-cep-primary, $busca-cep-accent);

@include angular-material-theme ($busca-cep-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar {
    width: 100%;
    height: 64px;
    border: 1px solid #979797;
    padding: 15px;
    display: block;
}

.line {
  width: 100px;
  height: 2px;
  margin: 3.5px 0 0 547px;
  border:  1px solid #979797;
}

.menu {
  float: left;
  position: absolute;
  padding: 10px;
}



@media (max-width: 375px) {
  
  .text-login {
    display: none;
  }
  
  .navbar-title {
    font-size: 18px;
    color: #777777;
  }

  .ml-5 {
    margin-left: 15px;
  }
}

@media (min-width: 376px) {
  
  .navbar-title {
    font-size: 20px;
    color: #777777;
  }

  .menu-right {
    border-bottom: 1px solid  #777777;
  }

  .main {
    width: 100%;
    height: 800px;
    margin: 0 0 44px;
    padding: 0 0 61px;
    border: solid 1px #777777;
    background-color: #f1f2f3;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .ml-5 {
    margin-left: 75px;
  }
    
}

.text-center {
  text-align: center;
}