
@import '~@angular/material/theming';

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6) !important;
}

@include mat-core();
$md-mcgpalette-main: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-mcgpalette-light: (
    50 : #fff9ef,
    100 : #fff1d7,
    200 : #ffe8bc,
    300 : #ffdea1,
    400 : #ffd78d,
    500 : #ffd079,
    600 : #ffcb71,
    700 : #ffc466,
    800 : #ffbe5c,
    900 : #ffb349,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff8f0,
    A700 : #ffedd6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette-danger: (
  50 : #f6e0e4,
  100 : #e7b3bc,
  200 : #d88090,
  300 : #c84d63,
  400 : #bc2641,
  500 : #b00020,
  600 : #a9001c,
  700 : #a00018,
  800 : #970013,
  900 : #87000b,
  A100 : #ffb3b6,
  A200 : #ff8085,
  A400 : #ff4d53,
  A700 : #ff343b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);

$dashboard-primary: mat-palette($md-mcgpalette-main);
$dashboard-accent: mat-palette($md-mcgpalette-light);
$dashboard-warn: mat-palette($md-mcgpalette-danger);
$dashboard-theme: mat-light-theme((
  color: (
    primary: $dashboard-accent,
    accent: $dashboard-accent,
    warn: $dashboard-warn
  ))

);
$white: white;
$primary: #000000;
$secondary: #ffd079;

@include angular-material-theme($dashboard-theme);

:root {
  --primary-color:#ffd079;
  --primary-color-text:#000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.success-color {
  color: green !important;
}

.accent-color {
  color: mat-color($dashboard-accent) !important;
}

.warn-color {
  color: mat-color($dashboard-warn) !important;
}

.white-color {
  color: $white !important;
}



/*DESIGN SYSTEM*/

.navbar {
    width: 100%;
    height: 64px;
    border: 1px solid #979797;
    padding: 15px;
    display: block;
}

.line {
  width: 100px;
  height: 2px;
  margin: 3.5px 0 0 547px;
  border:  1px solid #979797;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.card-logo {
  height: 70px;
  width: 100px;
  background-color: white;
  margin-right: 10px;
  border: solid 1px #777777;
}


.navbar-dash {
  border: none;
  color: white;
  transition: background-color 1s ease 0s;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0));
  box-shadow: none;
  z-index: 6;
}

.navbar-min {
  height: 64px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s ease 0s;

  .logo-justica {
    background-size: 140px 41px;
    margin-top: 10px;
  }

  .container-logo {
    height: 60px;
  }

  .logo-pf {
    background-size: 40px 48px;
    margin-top: 5px;
  }

  .logo-senasp {
    background-size: 180px 28px;
    margin-top: 15px;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.mat-toolbar {
  background: transparent;
  color: $white;
  height: 100px;
}

.bk-color-secondary {
  background-color: $secondary;
}

.spacing-1{width: 2px}
.spacing-2{width: 4px}
.spacing-3{width: 6px}
.spacing-4{width: 8px}
.spacing-5{width: 10px}
.spacing-6{width: 12px}
.spacing-7{width: 14px}
.spacing-8{width: 16px}
.spacing-9{width: 24px}
.spacing-10{width: 32px}
.spacing-11{width: 40px}
.spacing-12{width: 48px}
.spacing-13{width: 56px}
.spacing-14{width: 64px}
.spacing-15{width: 72px}
.spacing-16{width: 80px}
.spacing-17{width: 88px}
.spacing-18{width: 96px}
.spacing-19{width: 104px}
.spacing-20{width: 112px}
.spacing-21{width: 120px}


.spacingY-1{height: 2px}
.spacingY-2{height: 4px}
.spacingY-3{height: 6px}
.spacingY-4{height: 8px}
.spacingY-5{height: 10px}
.spacingY-6{height: 12px}
.spacingY-7{height: 14px}
.spacingY-8{height: 16px}
.spacingY-9{height: 24px}
.spacingY-10{height: 32px}
.spacingY-11{height: 40px}
.spacingY-12{height: 48px}
.spacingY-13{height: 56px}
.spacingY-14{height: 64px}
.spacingY-15{height: 72px}
.spacingY-16{height: 80px}
.spacingY-17{height: 88px}
.spacingY-18{height: 96px}
.spacingY-19{height: 104px}
.spacingY-20{height: 112px}
.spacingY-21{height: 120px}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  font-weight: 600;
}

.mat-flat-button.mat-button-disabled:not([class*=mat-elevation-z]) {
  background-color: rgba(255, 207, 105, 0.5);
  cursor: no-drop;
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: $primary;
  font-weight: 600;
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.mat-button.mat-accent, .mat-icon-button.mat-accent {
  color: $white;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.mat-button.mat-accent.mat-button-disabled:not([class*=mat-elevation-z]){
  opacity: 0.3;
  color: $white;
  font-weight: 600;
}

.mat-button.mat-button-disabled, .mat-icon-button.mat-button-disabled, .mat-stroked-button.mat-button-disabled, .mat-flat-button.mat-button-disabled {
  cursor: no-drop !important;
}

.button-lg {
  height: 48px !important;
}

.button-md {
  height: 40px !important;
}


.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $primary !important;
  border-radius: 50% !important;
  border: 1px solid $primary;
  height: 10px !important;
  width: 10px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #d6d6d6;
  border: 1px solid #d6d6d6;
  width: 2rem;
  height: 0.5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50% !important;
  height: 10px !important;
  width: 10px !important;
}

.pi {
  font-size: 18px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $primary;
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  padding-top: 20px;
  padding-left: 6px;
}


.pi-secondary {
  .pi {
    font-size: 18px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $secondary !important;
  }


  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: $secondary !important;
    border-radius: 50% !important;
    border: 1px solid $secondary;
    height: 10px !important;
    width: 10px !important;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;
    width: 2rem;
    height: 0.5rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
  }

}


button:disabled {
  cursor: no-drop !important;
}

.black-input {
  .mat-form-field-outline {
    background: $white;
    border-radius: 4px;
  }
}

.p-timeline .p-timeline-event-marker {
  border-color: $white;
}

@import 'assets/css/landing-page-mobile.scss';
@import 'assets/css/landing-page-tablet.scss';
@import 'assets/css/landing-page.scss';

