
@import '~@angular/material/theming';

@include mat-core();
$md-mcgpalette-main: (
    50 : #ede0e0,
    100 : #d1b3b3,
    200 : #b38080,
    300 : #954d4d,
    400 : #7e2626,
    500 : #670000,
    600 : #5f0000,
    700 : #540000,
    800 : #4a0000,
    900 : #390000,
    A100 : #ff6f6f,
    A200 : #ff3c3c,
    A400 : #ff0909,
    A700 : #ef0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$busca-cep-primary: mat-palette($md-mcgpalette-main);
$busca-cep-accent: mat-palette($md-mcgpalette-main);
$busca-cep-theme: mat-light-theme($busca-cep-primary, $busca-cep-accent);

@include angular-material-theme ($busca-cep-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
  font-size: 30px !important;
  margin-top: 20px !important;
}

.navbar {
    width: 100%;
    height: 64px;
    border: 1px solid #979797;
    padding: 15px;
    display: block;
}

.line {
  width: 100px;
  height: 2px;
  margin: 3.5px 0 0 547px;
  border:  1px solid #979797;
}

.menu {
  float: left;
  position: absolute;
  padding: 10px;
}

.button-radius {
  height: 40px;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: #f1f2f3;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}

.button-radius-long {
  height: 40px;
  width: 90%;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: #f1f2f3;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}

.button-radius-white {
  height: 40px;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: white;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer !important;
}

.menu-style {
  margin-left: -16px !important;
  height: 850px !important;
  width: 250px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.text-access {
  width: 90%;
  font-size: 14px;
  margin-left: 10px;
  border-bottom: 1px solid #777777;
  color: #777777;
  text-align: center;
}

.recover-password {
  width: 40%;
  font-size: 14px;
  margin-left: 10px;
  border-bottom: 1px solid #777777;
  color: #777777;
  text-align: center;
}

.card-logo {
  height: 70px; 
  width: 100px; 
  background-color: white;
  margin-right: 10px;
  border: solid 1px #777777;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #e9ecef !important;
  border-radius: 50% !important;
  border: 1px solid #777777;
  height: 15px !important;
  width: 15px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: white;
  border: 1px solid #777777;
  width: 2rem;
  height: 0.5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50% !important;
  height: 15px !important;
  width: 15px !important;
}