
@import '~@angular/material/theming';

@include mat-core();
$md-mcgpalette-main: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-mcgpalette-light: (
    50 : #fff9ef,
    100 : #fff1d7,
    200 : #ffe8bc,
    300 : #ffdea1,
    400 : #ffd78d,
    500 : #ffd079,
    600 : #ffcb71,
    700 : #ffc466,
    800 : #ffbe5c,
    900 : #ffb349,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff8f0,
    A700 : #ffedd6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);

$dashboard-primary: mat-palette($md-mcgpalette-main);
$dashboard-accent: mat-palette($md-mcgpalette-light);
$dashboard-theme: mat-light-theme($dashboard-primary, $dashboard-accent);
$white: white;

@include angular-material-theme ($dashboard-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.accent-color {
  color: mat-color($dashboard-accent) !important;
}

.white-color {
  color: $white !important;
}

h1{
  font-size: 30px !important;
  margin-top: 20px !important;
}

.navbar {
    width: 100%;
    height: 64px;
    border: 1px solid #979797;
    padding: 15px;
    display: block;
}

.line {
  width: 100px;
  height: 2px;
  margin: 3.5px 0 0 547px;
  border:  1px solid #979797;
}

.menu {
  float: left;
  position: absolute;
  padding: 10px;
}

.button-radius {
  height: 40px;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: #f1f2f3;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}

.button-radius-long {
  height: 40px;
  width: 90%;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: #f1f2f3;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer;
}

.button-radius-white {
  height: 40px;
  border-radius: 29.5px;
  border: solid 1px #777777;
  background-color: white;
  color: #777777;
  font-size: 16px;
  padding: 0 20px;
  margin: 10px;
  cursor: pointer !important;
}

.menu-style {
  margin-left: -16px !important;
  height: 850px !important;
  width: 250px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.text-access {
  width: 90%;
  font-size: 14px;
  margin-left: 10px;
  border-bottom: 1px solid #777777;
  color: #777777;
  text-align: center;
}

.recover-password {
  width: 40%;
  font-size: 14px;
  margin-left: 10px;
  border-bottom: 1px solid #777777;
  color: #777777;
  text-align: center;
}

.card-logo {
  height: 70px; 
  width: 100px; 
  background-color: white;
  margin-right: 10px;
  border: solid 1px #777777;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #e9ecef !important;
  border-radius: 50% !important;
  border: 1px solid #777777;
  height: 15px !important;
  width: 15px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: white;
  border: 1px solid #777777;
  width: 2rem;
  height: 0.5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50% !important;
  height: 15px !important;
  width: 15px !important;
}