<div class="images-mosaics" fxLayout="column" fxLayoutAlign="start center">
    <div class="container p-lg-12 p-p-0">
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-col-1"></div>
            <div class="p-col-5 p-p-0" fxLayout="column" fxLayoutAlign="start start">
                <div class="h1-section p-col-8 p-p-0">{{'landing-page.images-mosaics.title' | translate | uppercase}}</div>    
                <div class="body-section p-col-12 p-p-0 p-mt-3">{{'landing-page.images-mosaics.text' | translate | uppercase}}</div>
                <div class="body-section p-col-12 p-p-0 p-mt-3">{{'landing-page.images-mosaics.text2' | translate | uppercase}}</div>
            </div>
            <div class="p-col-1"></div>
            <div class="p-col-5 p-p-0" fxLayout="column" fxLayoutAlign="center">
                <div class="p-col-12 p-d-flex p-p-0 p-ai-center p-jc-center img-after" ></div>
            </div>
        </div>

    </div>
</div>
